---
import HoroscopeRows from "./HoroscopeRows.astro"
import Horoscope from "../components/Horoscope.astro"

---



<div class="container-fluid sectionHeader">
    <div class="container">
        <div class="row">
          <h3>Daily Horoscope</h3>
          <p>Choose your star sign</p>
        </div>	

    <div class="container horoscopeResult" id="horoscopeResult">
 
    </div>    
 
  <HoroscopeRows/>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const horoscopeButtons = document.querySelectorAll('.horoscopeBtn');
      const resultContainer = document.querySelector('#horoscopeResult');
  
      horoscopeButtons.forEach((button) => {
          button.addEventListener('click', async () => {
              // Remove "active" class from all .selectedHoroscope elements
              document.querySelectorAll('.selectedHoroscope').forEach((el) => {
                  el.classList.remove('activeHoroscope');
              });
  
              // Add "active" to the clicked button's selectedHoroscope
              const selectedHoroscope = button.querySelector('.selectedHoroscope');
              if (selectedHoroscope) {
                  selectedHoroscope.classList.add('activeHoroscope');
              }
      
          });
      });
  });
  
  
  </script>
  

  <style>
    .sectionHeader {
      background-image: url(../assets/horoscopebkgd.svg);
    }
    </style>
      