---
import HoroscopePage from "../components/HoroscopePage.astro"
import TarotPage from "../components/TarotPage.astro"
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";



const pathname = new URL(Astro.request.url).pathname;
console.log(pathname); // This works in both static and dynamic environments


---

	<Layout/>
	<Header/>
	 <p class="tagline"> Dive into the cosmic energies and uncover the wisdom you need to navigate life with clarity and purpose. </p>

	
	<HoroscopePage/>
	<TarotPage/>
	<Footer/>
=