---
import MoonCards from '../components/MoonCards.astro';
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


---

  <Layout/>
	<Header/>
    <div class="container-fluid sectionHeader">
		<div class="container">
            <div class="col-sm-6">
              <h3>Moon Phases</h3>
              <p>The moon phases represent a powerful symbolic cycle of growth, transformation, and renewal. As the moon moves through its phases, each one carries a distinct energy that mirrors stages in personal development, from new beginnings to culmination, release, and rest. The New Moon invites introspection and intention-setting, while the Waxing Crescent encourages growth and hope. The First Quarter symbolizes action and decision-making, and the Waxing Gibbous urges refinement and preparation. The Full Moon represents clarity, completion, and the release of what no longer serves us. As the moon wanes, the Waning Gibbous encourages gratitude and wisdom-sharing, the Third Quarter invites letting go and reflection, and the Waning Crescent offers a time for rest and spiritual renewal. Together, these phases reflect the natural rhythms of life, offering opportunities for reflection, manifestation, and personal transformation at each stage.</p>
            </div>
          </div>
	  </div>
 <!--Load in moon phase cards -->   
      <div class="container moonCards">
            <MoonCards
            imagePath="new.png"
            altText="New Moon"
            name="New Moon"
            width={300}
            description="The New Moon is a time of fresh starts, new intentions, and inner reflection. It represents the opportunity to set goals, make plans, and embrace new possibilities. It’s a period for quiet introspection, clearing out the old, and preparing for the future."
            />

            <MoonCards
            imagePath="waxingCrescent.png"
            altText="Waxing Crescent"
            name="Waxing Crescent"
            width={200}
            description="The Waxing Crescent symbolizes growth and the early stages of manifestation. It encourages action and optimism as you begin to take steps toward your goals. This phase is about nurturing what you've started and staying hopeful as things begin to grow."
            />

            <MoonCards
            imagePath="firstQrtr.png"
            altText="First Quarter"
            name="First Quarter"
            width={200}
            description="The First Quarter moon represents decision-making and overcoming obstacles. It’s a time for taking bold action, making choices, and pushing through challenges. It encourages perseverance and working through any resistance to achieve progress."
            />

            <MoonCards
            imagePath="waxingGibbous.png"
            altText="Waxing Gibbous"
            name="Waxing Gibbous"
            width={250}
            description="The Waxing Gibbous phase is about refining your plans and preparing for the culmination of your efforts. It's a time to fine-tune your progress, adjust what’s necessary, and build momentum as you approach your goals."
            />

            <MoonCards
            imagePath="fullMoon.png"
            altText="Full Moon"
            name="Full Moon"
            width={300}
            description="The Full Moon marks the peak of the cycle—completion, clarity, and illumination. It’s a time for bringing things to fruition, celebrating successes, and releasing anything that no longer serves you. This phase represents clarity, emotional intensity, and powerful manifestation energy."
            />

            <MoonCards
            imagePath="waningGibbous.png"
            altText="Waning Gibbous"
            name="Waning Gibbous"
            width={250}
            description="As the moon wanes, the Waning Gibbous invites reflection, gratitude, and sharing wisdom gained through experience. It’s a phase for giving back, expressing gratitude, and using your insights to help others, while preparing for the next cycle."
            />


            <MoonCards
            imagePath="lastQrtr.png"
            altText="Third Quarter"
            name="Third Quarter"
            width={250}
            description="The Third Quarter moon is a time for release and introspection. It encourages you to let go of what’s no longer needed and reflect on lessons learned. This phase is about releasing emotional baggage and preparing for renewal."
            />

            <MoonCards
            imagePath="waningCrescent.png"
            altText="Waning Crescent"
            name="Waning Crescent"
            width={250}
            description="The Waning Crescent symbolises rest, retreat, and spiritual renewal. It’s a time for quiet reflection, self-care, and preparation for the new cycle ahead. It encourages you to slow down, recharge, and allow space for inner transformation before the New Moon begins again."
            />

    </div>
  <Footer/>




<style>
  .sectionHeader {
    background-image: url(../assets/moonPhasebkgd.svg);
    background-repeat:no-repeat;
    background-position: center center;
  }
  </style>
    
